node_modules/

# echo "# Brohh" >> README.md
# git init
# git add README.md
# git commit -m "first commit"
# git branch -M main
# git remote add origin https://github.com/paritosh0512/Brohh.git
# git push -u origin main